body {
    font-family: "Helvetica";
}
div#baner_lewy, div#lewy {
    background-color: rgb(130, 69, 85);
    color: white;
    width: 30%;
    height: 200px;
    text-align: center;
    float: left;
}
div#baner_prawy, div#prawy {
    background-color: rgb(130, 69, 85);
    color: white;
    height: 200px;
    width: 70%;
    text-align: center;
    float: right;
}
div#glowny, footer {
    background-color: rgb(240, 234, 226);
    padding: 120px;
}
table, td {
    border: solid 1px rgb(130,69,85);
    color: rgb(130, 69, 85);
    padding: 10px;
}
a {
    color: rgb(240, 234, 226);
}