body {
    font-family: "Verdana";
    margin: 0;
}
div#menu {
    background-color: sandybrown;
    height: 120px;
    width: 60%;
    float: left;
}
div#logo {
    background-color: sienna;
    color: white;
    text-align: center;
    height: 120px;
    width: 40%;
    float: left;
}
div#lewy {
    background-color: sienna;
    color: white;
    height: 700px;
    width: 60%;
    float: left;
}
div#prawy{
    background-color: sandybrown;
    height: 700px;
    width: 40%;
    float: left;
}
footer {
    background-color: #4d1900;
    color: white;
    text-align: right;
}
div#menu a {
    background-color: green;
    color: yellow;
    padding: 20px 50px 20px 50px;
    margin-right: 5px;    
}
div#menu {
	display: flex;
	align-items: center;
}
div#menu a:hover {
    background-color: yellow;
    color: green;
}