
div#baner{
    color: blue;
    height: 200px;
    background-image: url("menu.jpg");
}
div#lewy{
    background-color: rgb(255,218,65);
    height: 400px;
    text-align: center;
    width: 40%;
    float: left;
}
div#srodkowy{
    background-color: rgb(255,233,143);
    text-align: center;
    width: 30%;
    height: 400px;
    float: left;
}
div#prawy{
    float: left;
    background-color: rgb(255,233,146);
    text-align: center;
    width: 30%;
    height: 400px;
}
footer{
    background-color: rgb(255,218,65);
    color: blue;
}
a{
    color: green;
}
p{
    font-size: 130%;
}